<mat-toolbar color="primary" >
    <span>REVIEWS</span>
  
    <span class="example-spacer"></span>
    <button
      mat-button
      (click)="myReviews()"
      class="example-icon"
      aria-label="List of my Reviews"
    >
      My Reviews
    </button>
    <button
      mat-button
      (click)="addReview()"
      class="example-icon"
      aria-label="Add the Review"
    >
      Add Review
    </button>
  
    <button
      mat-button
      (click)="allReviews()"
      class="example-icon"
      aria-label="Review of all Users"
    >
      Reviews
    </button>
  </mat-toolbar>
